
.parallax4 {
  background-color: rgb(0, 46, 0);
  background: -webkit-linear-gradient(rgb(0, 46, 0), rgb(0, 46, 0));
}

.nug {
  height: 9rem;
  width: 9rem;
}

.layer1 {
  position: absolute;
}

.one {
  left: 50%;
}
