
.parallax4 {
  background-color: rgb(0, 46, 0);
  background: -webkit-linear-gradient(rgb(0, 46, 0), rgb(0, 46, 0));
}

.nug {
  height: 14rem;
  width: 14rem;
}

.layer1 {
  position: absolute;
}

.one {
  left: 50%;
}

.container {
  left: 50%;
  top: 25%;
  position: absolute;
  /* animation: orbit 4s linear infinite */
}

.container2 {
  left: 50%;
  top: 75%;
  position: absolute;
  /* animation: orbit 4s linear infinite */
}

.container3 {
  left: 25%;
  top: 50%;
  position: absolute;
  /* animation: orbit 4s linear infinite */
}

.container4 {
  left: 75%;
  top: 50%;
  position: absolute;
  /* animation: orbit 4s linear infinite */
}

.wheel {
  animation: rotate 40s linear infinite
}

@keyframes orbit {
  from { transform: rotate(0deg) translateX(200px) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(200px) rotate(-360deg); }
}

@keyframes rotate {
  from { transform: rotate(0deg) }
  to { transform: rotate(-360deg)}
}
